NODE_ENV=development
PORT=3000
DATABASE_URL=postgresql://taskflow:taskflow@localhost:5432/taskflow
REDIS_URL=redis://localhost:6379
# openssl rand -hex 32
JWT_SECRET=
TEST_DATABASE_URL=postgresql://taskflow:taskflow@localhost:5432/taskflow_test
